header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 5px;
  color: green;
  z-index: 1;
}

.title {
  text-align: center;
  flex: 1;
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-section img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}